In [4]:
import pandas as pd
import numpy as np

In [5]:
asd = pd.read_csv('result.csv')

In [27]:
result = pd.read_csv('result.csv')
# single_stroke_numbers = np.unique(stroke_number)
left_bounces = result.groupby("stroke_number").first().reset_index()
right_bounces = result.groupby("stroke_number").last().reset_index()

In [60]:
for bounces in zip(left_bounces.iterrows(), right_bounces.iterrows()):
    left, right = bounces[0][1], bounces[1][1]
#     print(left['x'])
    print(left)
    break

stroke_number    1.000000e+00
frame_number     2.200000e+01
x               -3.470000e+02
y                3.900000e+02
z                9.080000e+02
confidence       5.331602e-01
timestamp        1.624388e+09
Name: 0, dtype: float64

In [58]:
right_bounces

   stroke_number  frame_number    x    y    z  confidence     timestamp
0              1            99 -347  390  908     0.53316  1.624388e+09
1              2            22 -347  390  908     0.53316  1.624388e+09
2              3            22 -347  390  908     0.53316  1.624388e+09
3              4            22 -347  390  908     0.53316  1.624388e+09

In [48]:
for i in right_bounces.iterrows():
#     print(i[1]['x'], i[0])
    print(i[1])
    break

stroke_number    1.000000e+00
frame_number     9.900000e+01
x               -3.470000e+02
y                3.900000e+02
z                9.080000e+02
confidence       5.331602e-01
timestamp        1.624388e+09
Name: 0, dtype: float64

In [63]:
1<<1 | 1<<2

6